$dark-surface: rgba(0, 0, 0, 1);
$dark-on-surface: rgb(225, 225, 225);
$dark-outline: rgba(125, 125, 125, 1);
$dark-outline-50: rgba(125, 125, 125, 0.5);
$dark-outline-25: rgba(125, 125, 125, 0.25);
$dark-primary: rgb(93, 176, 253);
$dark-on-primary: rgba(0, 58, 0, 1);
$dark-primary2: rgb(45, 143, 255);

// $dark-surface: rgb(255, 255, 255);
// $dark-on-surface: rgb(19, 19, 19);
// $dark-outline: rgba(125, 125, 125, 1);
// $dark-outline-50: rgba(125, 125, 125, 0.5);
// $dark-outline-25: rgba(125, 125, 125, 0.25);
// $dark-primary: rgb(93, 176, 253);
// $dark-on-primary: rgba(0, 58, 0, 1);
// $dark-primary2: rgb(45, 143, 255);
