@import "colors.scss";
@import "fonts.scss";
.tabs {
    list-style: none;
    margin: 0;
    padding: 0rem 2rem;
    overflow: hidden;
    border-bottom: 1px solid $dark-outline-25;
}

.tabsTitle {
    float: left;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-bottom: 0.125rem solid transparent;
    transition: border-bottom 150ms ease-out;

    &:hover {
        border-bottom: 0.125rem solid $dark-outline-50;
    }
    &Selected {
        float: left;
        padding: 0.75rem 1rem;
        cursor: pointer;
        border-bottom: 0.125rem solid $dark-primary;
        a {
            color: $dark-on-surface;

            font-family: RobotoMono, Roboto, monospace;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    a {
        color: $dark-on-surface;

        font-family: RobotoMono, Roboto, monospace;
        font-size: 1rem;
        font-weight: 300;
        transition: font-weight 150ms ease-out;
    }
}
